.container {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 40px auto;
  -webkit-perspective: 1000;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}

.face {
  width: 596px;
  height: 596px;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 20px;
}

#cube .front {
  background-color: red;
  -webkit-transform: rotateY(0deg) translateZ(300px);
}
#cube .back {
  background-color: orange;
  -webkit-transform: rotateX(180deg) translateZ(300px);
}
#cube .right {
  background-color: yellow;
  -webkit-transform: rotateY(90deg) translateZ(300px);
}
#cube .left {
  background-color: green;
  -webkit-transform: rotateY(-90deg) translateZ(300px);
}
#cube .top {
  background-color: blue;
  -webkit-transform: rotateX(90deg) translateZ(300px);
}
#cube .bottom {
  background-color: purple;
  -webkit-transform: rotateX(-90deg) translateZ(300px);
}

#cube {
  -webkit-transform: translateZ(-300px);
  -webkit-transition: -webkit-transform 1s;
}

#cube.show-front { -webkit-transform: translateZ(-300px) rotateY(0deg); }
#cube.show-back { -webkit-transform: translateZ(-300px) rotateX(-180deg); }
#cube.show-right { -webkit-transform: translateZ(-300px) rotateY(-90deg); }
#cube.show-left { -webkit-transform: translateZ(-300px) rotateY(90deg); }
#cube.show-top { -webkit-transform: translateZ(-300px) rotateX(-90deg); }
#cube.show-bottom { -webkit-transform: translateZ(-300px) rotateX(90deg); }
