.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 40px auto;
  -webkit-perspective: 1000;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
}

#cube figure {
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}

#cube .front {
  background-color: rgba(255, 0, 0, 50);
  -webkit-transform: rotateY(0deg) translateZ(100px);
}
#cube .back {
  background-color: rgba(255, 255, 0, 50);
  -webkit-transform: rotateX(180deg) translateZ(100px);
}
#cube .right {
  background-color: rgba(0, 255, 0, 50);
  -webkit-transform: rotateY(90deg) translateZ(100px);
}
#cube .left {
  background-color: rgba(0, 255, 255, 50);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}
#cube .top {
  background-color: rgba(0, 0, 255, 50);
  -webkit-transform: rotateX(90deg) translateZ(100px);
}
#cube .bottom {
  background-color: rgba(255, 0, 255, 50);
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}

#cube {
  -webkit-transform: translateZ(-100px);
  -webkit-transition: -webkit-transform 1s;
}

#cube.show-front { -webkit-transform: translateZ(-100px) rotateY(0deg); }
#cube.show-back { -webkit-transform: translateZ(-100px) rotateX(-180deg); }
#cube.show-right { -webkit-transform: translateZ(-100px) rotateY(-90deg); }
#cube.show-left { -webkit-transform: translateZ(-100px) rotateY(90deg); }
#cube.show-top { -webkit-transform: translateZ(-100px) rotateX(-90deg); }
#cube.show-bottom { -webkit-transform: translateZ(-100px) rotateX(90deg); }
