@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,700);


body {
  background-color: black;
}

.container {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 40px auto;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#cube .front {
  -webkit-transform: rotateY(0deg) translateZ(300px);
  -moz-transform: rotateY(0deg) translateZ(300px);
  -ms-transform: rotateY(0deg) translateZ(300px);
  -o-transform: rotateY(0deg) translateZ(300px);
  transform: rotateY(0deg) translateZ(300px);
}
#cube .back {
  -webkit-transform: rotateX(180deg) translateZ(300px);
  -moz-transform: rotateX(180deg) translateZ(300px);
  -ms-transform: rotateX(180deg) translateZ(300px);
  -o-transform: rotateX(180deg) translateZ(300px);
  transform: rotateX(180deg) translateZ(300px);
}
#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(300px);
  -moz-transform: rotateY(90deg) translateZ(300px);
  -ms-transform: rotateY(90deg) translateZ(300px);
  -o-transform: rotateY(90deg) translateZ(300px);
  transform: rotateY(90deg) translateZ(300px);
}
#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(300px);
  -moz-transform: rotateY(-90deg) translateZ(300px);
  -ms-transform: rotateY(-90deg) translateZ(300px);
  -o-transform: rotateY(-90deg) translateZ(300px);
}
#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  -moz-transform: rotateX(90deg) translateZ(300px);
  -ms-transform: rotateX(90deg) translateZ(300px);
  -o-transform: rotateX(90deg) translateZ(300px);
  transform: rotateX(90deg) translateZ(300px);
}
#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
  -moz-transform: rotateX(-90deg) translateZ(300px);
  -ms-transform: rotateX(-90deg) translateZ(300px);
  -o-transform: rotateX(-90deg) translateZ(300px);
  transform: rotateX(-90deg) translateZ(300px);
}

#cube {
  -webkit-transform: translateZ(-300px);
  -moz-transform: translateZ(-300px);
  -ms-transform: translateZ(-300px);
  -o-transform: translateZ(-300px);
  transform: translateZ(-300px);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

#cube.initial {
  -webkit-transform: translateZ(-300px) rotateX(-18deg) rotateY(20deg);
  -moz-transform: translateZ(-300px) rotateX(-18deg) rotateY(20deg);
  -ms-transform: translateZ(-300px) rotateX(-18deg) rotateY(20deg);
  -o-transform: translateZ(-300px) rotateX(-18deg) rotateY(20deg);
  transform: translateZ(-300px) rotateX(-18deg) rotateY(20deg);
}
#cube.show-front {
  -webkit-transform: translateZ(-300px) rotateY(0deg);
  -moz-transform: translateZ(-300px) rotateY(0deg);
  -ms-transform: translateZ(-300px) rotateY(0deg);
  -o-transform: translateZ(-300px) rotateY(0deg);
  transform: translateZ(-300px) rotateY(0deg);
}
#cube.show-back {
  -webkit-transform: translateZ(-300px) rotateX(-180deg);
  -moz-transform: translateZ(-300px) rotateX(-180deg);
  -ms-transform: translateZ(-300px) rotateX(-180deg);
  -o-transform: translateZ(-300px) rotateX(-180deg);
  transform: translateZ(-300px) rotateX(-180deg);
}
#cube.show-right {
  -webkit-transform: translateZ(-300px) rotateY(-90deg);
  -moz-transform: translateZ(-300px) rotateY(-90deg);
  -ms-transform: translateZ(-300px) rotateY(-90deg);
  -o-transform: translateZ(-300px) rotateY(-90deg);
  transform: translateZ(-300px) rotateY(-90deg);
}
#cube.show-left {
  -webkit-transform: translateZ(-300px) rotateY(90deg);
  -moz-transform: translateZ(-300px) rotateY(90deg);
  -ms-transform: translateZ(-300px) rotateY(90deg);
  -o-transform: translateZ(-300px) rotateY(90deg);
}
#cube.show-top {
  -webkit-transform: translateZ(-300px) rotateX(-90deg);
  -moz-transform: translateZ(-300px) rotateX(-90deg);
  -ms-transform: translateZ(-300px) rotateX(-90deg);
  -o-transform: translateZ(-300px) rotateX(-90deg);
  transform: translateZ(-300px) rotateX(-90deg);
}
#cube.show-bottom {
  -webkit-transform: translateZ(-300px) rotateX(90deg);
  -moz-transform: translateZ(-300px) rotateX(90deg);
  -ms-transform: translateZ(-300px) rotateX(90deg);
  -o-transform: translateZ(-300px) rotateX(90deg);
  transform: translateZ(-300px) rotateX(90deg);
}

#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -ms-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
}

#back {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: 100;
}

#forward {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

#notes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  color: #ccc;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 25px;
  padding: 30px 20px;
  border-left: 1px solid #444;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

#notes div {
  display: none;
}

#notes a {
  text-decoration: none;
  font-weight: bold;
  color: #ec8;
}

#toggle-notes {
  position: absolute;
  top: 10px;
  right: 0px;
  background-image: url('images/tab.png');
  width: 32px;
  height: 70px;
  padding-top: 30px;
  cursor: pointer;
}

#toggle-notes p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-shadow: white 1px 1px 0;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

#slides { display: none; }

.face {
  width: 596px;
  height: 596px;
  display: block;
  position: absolute;
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: inset -3px -3px 7px 7px rgba(0, 0, 0, 0.3);
  font-family: 'Varela Round', sans-serif;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: background-position 0.5s ease-in-out;
  -moz-transition: background-position 0.5s ease-in-out;
  -ms-transition: background-position 0.5s ease-in-out;
  -o-transition: background-position 0.5s ease-in-out;
  transition: background-position 0.5s ease-in-out;
}

.face h1 {
  margin: 30px;
  font-size: 30px;
}

.face h1.title {
  margin: 100px 30px 40px 30px;
  font-size: 85px;
  text-align: center;
  color: #ff0000;
}

.face h2 {
  font-size: 40px;
  text-align: center;
  color: #0000ff;
}

.face h1.letter {
  font-size: 120px;
  margin: 5px 20px;
  padding: 0;
}

.face p {
  font-size: 40px;
  padding: 10px;
  margin: 10px 30px;
}

.face tt {
  font-face: 'Ubuntu Mono', monospace;
}

.face ul {
  font-size: 15px;
}

.face li {
  list-style-type: none;
}

.face p.massive {
  text-align: center;
  font-size: 300px;
}

#licence {
  text-align: center;
}

#licence img {
  text-shadow: white 1px 1px 0;
}
